<div class="datagrid-body" [ngStyle]="{'width' : gridProps.widthTotal + 'px', 'height' : gridProps.rowsTotal * 24 + 'px' }">
    
    <div class="datagrid-body-row"
        *ngFor="let row of rowsInternal; let rowIndex = index; trackBy:options.trackRow;"
        [ngStyle]="{'transform' : 'translate3d(0px, ' + row.$$rowIndex * 24 + 'px, 0px)'}">

        <div class="datagrid-body-pinned" style="display:inline-block" [ngStyle]="{'width' : gridProps.widthPinned + 'px' }">
            <!-- Main Row -->
            <datagrid-row [columns]="columnsPinned"
                          [row]="row"
                          [options]="options"
                          [colsVisible]="colsVisible">
            </datagrid-row>
        </div>

        <!-- Main Row -->
        <div class="datagrid-body-main" style="display:inline-block" [ngStyle]="{'width' : gridProps.widthMain + 'px' }">
            <datagrid-row [columns]="columnsInternal"
                          [row]="row"
                          [options]="options"
                          [colsVisible]="colsVisible">
            </datagrid-row>
        </div>

    </div>
</div>
