<div class="datagrid-body" [ngStyle]="{'width' : gridProps.widthTotal + 'px', 'height' : gridProps.heightBody + 'px' }">
    <!--
    (click)="selectRow(row, rowIndex, null, false, rowElement.elementRef)"
    (contextmenu)="rightClick(row, rowIndex, $event)"
    (mousedown)="rowMouseDown(rowIndex, $event)"
    (mouseup)="rowMouseUp(rowIndex, $event)"
    (mouseover)="rowHoveredLast = rowIndex"
    [ngStyle]="rowStyles[row[options.primaryKey]]"
    -->


    <div class="datagrid-body-row"
         *ngFor="let row of rowsInternal; let rowIndex = index; trackBy:options.trackRow;"
         [style.top]="row.$$rowPosition + 'px'"

         [ngStyle]="rowStyles[row[options.primaryKey]]"
         [ngClass]="{'selected': row.$$selected }"
        
         (click)="onMouseEvent('click', row.$$rowIndex, $event)"
         (contextmenu)="onMouseEvent('contextmenu', row.$$rowIndex, $event)"
         (mousedown)="onMouseEvent('mousedown', row.$$rowIndex, $event)"
         (mouseup)="onMouseEvent('mouseup', row.$$rowIndex, $event)"
         (mouseenter)="onMouseEvent('mouseenter', row.$$rowIndex, $event)">

        <!-- Group header. Treated as a row -->
        <group-header *ngIf="row.type == 'group' "
                      [group]="row"
                      [options]="options"
                      [width]="gridProps.widthTotal">
        </group-header>

        <!-- Normal Row -->
        <ng-container *ngIf="row.type != 'group' ">

            <!-- Pinned columns -->
            <div class="datagrid-body-pinned sticky-left" [ngStyle]="{'width' : gridProps.widthPinned + 'px' }" *ngIf="columnsPinnedLeft?.length">
                <datagrid-body-row [columns]="columnsPinnedLeft"
                                   [row]="row"
                                   [options]="options">
                </datagrid-body-row>
            </div>

            <!-- Non-pinned columns -->
            <div class="datagrid-body-main" style="display: inline-block" [ngStyle]="{'width' : gridProps.widthMain + 'px' }">
                <datagrid-body-row [columns]="columnsInternal"
                                   [row]="row"
                                   [options]="options">
                </datagrid-body-row>
            </div>

        </ng-container>

    </div>
</div>
