<div class="datagrid-body" [ngStyle]="{'width' : gridProps.widthTotal + 'px', 'height' : gridProps.heightBody + 'px' }">
    
    <div class="datagrid-body-row"
        *ngFor="let row of rowsInternal; let rowIndex = index; trackBy:options.trackRow;"
        [ngStyle]="{'transform' : 'translate3d(0px, ' + row.$$rowIndex + 'px, 0px)'}">
       
        <ng-container *ngIf="row.type == 'group' ">
            <group-header [group]="row" [options]="options" [width]="gridProps.widthTotal"></group-header>
        </ng-container>

        <ng-container *ngIf="row.type != 'group' ">

            <div class="datagrid-body-pinned sticky-left" [ngStyle]="{'width' : gridProps.widthPinned + 'px' }" *ngIf="columnsPinnedLeft?.length">
                <!-- Main Row -->
                <datagrid-body-row [columns]="columnsPinnedLeft"
                                   [row]="row"
                                   [options]="options">
                </datagrid-body-row>
            </div>

            <!-- Main Row -->
            <div class="datagrid-body-main" style="display: inline-block" [ngStyle]="{'width' : gridProps.widthMain + 'px' }">
                <datagrid-body-row [columns]="columnsInternal"
                                   [row]="row"
                                   [options]="options">
                </datagrid-body-row>
            </div>

        </ng-container>

    </div>
</div>
