<div class="datagrid-cell-data"
     [ngStyle]="{'width' : column.width + 'px'}"
     title="{{row[column.prop]}}">
   
    <!--
    <ng-template #cellTemplate
                 *ngIf="column.templatesCell"
                 [ngTemplateOutlet]="test"
                 [ngTemplateOutletContext]="cellContext">
    </ng-template>
    -->

    <span [ngSwitch]="column.columnType" *ngIf="!templatesCell">
        <!-- Date Time-->
        <ng-container *ngSwitchCase="'dateTime'">
            {{row[column.prop] | date: 'MM/dd/yyyy - h:mm a' }}
        </ng-container>
        <!-- Date-->
        <ng-container *ngSwitchCase="'date'">
            {{row[column.prop] | date: 'MM/dd/yyyy' }}
        </ng-container>

        <!-- Money -->
        <ng-container *ngSwitchCase="'money'">
            {{row[column.prop] | currency:'USD':true:'1.2-2' }}
        </ng-container>

        <!-- Default -->
        <div *ngSwitchDefault placement="top-left" [ngbPopover]="fieldContent" #p="ngbPopover" triggers="manual" container="body" (dblclick)="fieldEdit($event);">
            {{row[column.prop]}}
        </div>
    </span>

</div>

<ng-template #fieldContent>
    <textarea class="form-control form-control-sm" style="width:400px;" rows="3" #editBox autofocus
                          (dblclick)="$event.target.select();"
                          (blur)="rowUpdated($event);">{{row[column.prop]}}</textarea>
                        <!--(keyup.enter)="rowUpdated($event);"-->
</ng-template>


<!--
<div class="cell">

    <templates-cell [column]="column" [options]="options" [rowData]="rowData" (updateDatatable)="onUpdateDatatable($event)">
        <div class="cell2" title="{{rowData[column.prop]}}" #cell2>
            <span class="cell3" #cell3>
                <ng-container [ngSwitch]="column.columnType">
                    <!-- Date Time->
                    <ng-container *ngSwitchCase="'dateTime'">
                        {{rowData[column.prop] | date: 'MM/dd/yyyy - h:mm a' }}
                    </ng-container>
                    <!-- Date->
                    <ng-container *ngSwitchCase="'date'">
                        {{rowData[column.prop] | date: 'MM/dd/yyyy' }}
                    </ng-container>

                    <!-- Money ->
                    <ng-container *ngSwitchCase="'money'">
                        {{rowData[column.prop] | currency:'USD':true:'1.2-2' }}
                    </ng-container>

                    <!-- Default ->
                    <ng-container *ngSwitchDefault>
                        {{rowData[column.prop]}}
                    </ng-container>
                </ng-container>
            </span>

            <div class="truncated" *ngIf="truncated$ | async">{{isTruncated}}</div>
        </div>
    </templates-cell>
</div>

-->
