<div class="datagrid-cell-data"
     [ngStyle]="{'width' : column.width + 'px'}"
     title="{{row[column.prop]}}">

  <ng-template #cellTemplate
               *ngIf="column.templateCell"
               [ngTemplateOutlet]="column.templateCell"
               [ngTemplateOutletContext]="cellContext">
  </ng-template>

  <div class="datagrid-cell-data-content"
       #cellData
       *ngIf="!column.templateCell"
       [ngbPopover]="fieldContent" #p="ngbPopover"container="body" placement="top-left"  triggers="manual" (dblclick)="fieldEdit($event);">
    <ng-container [ngSwitch]="column.columnType">
      <!-- Date Time-->
      <ng-container *ngSwitchCase="'dateTime'">
        {{row[column.prop] | date: 'MM/dd/yyyy - h:mm a' }}
      </ng-container>
      <!-- Date-->
      <ng-container *ngSwitchCase="'date'">
        {{row[column.prop] | date: 'MM/dd/yyyy' }}
      </ng-container>

      <!-- Money -->
      <ng-container *ngSwitchCase="'money'">
        {{row[column.prop] | currency:'USD' }}
      </ng-container>

      <!-- Default -->
      <ng-container *ngSwitchDefault>
        {{row[column.prop]}}
      </ng-container>

    </ng-container>
  </div>

  <div class="datagrid-truncated" *ngIf="truncated"></div>
</div>

<ng-template #fieldContent>
  <textarea class="form-control form-control-sm" style="width:400px;" rows="3" #editBox autofocus
            (dblclick)="$event.target.select();"
            (blur)="rowUpdated($event);"
            (keyup.enter)="rowUpdated($event);">{{row[column.prop]}}</textarea>
</ng-template>
