<div id="datagrid" class="datagrid" #dataGrid
     [ngClass]="{
    'noWrap' : options.noWrap,
    'selectable' : options.selectionType,
    'truncatable' : options.columnsTruncate,
    'virtualScroll' : options.virtualScroll,
    'fullscreen' : options.heightFullscreen }">

    <div *ngIf="!appReady" class="container-fluid pt-3" style="font-size:1rem;"><i class="fa fa-spinner fa-spin"></i> Loading View...</div>

    <div class="datagrid-container" *ngIf="appReady">

        <!--TODO: Add readonly div -->
        <!-- Header -->
        <datagrid-header [columnsInternal]="columnsExternal"
                         [columnsPinnedLeft]="columnsPinnedLeft"
                         [state]="state$ | async"
                         [status]="status"
                         [options]="options"
                         [scrollProps]="scrollProps"
                         [gridProps]="gridProps"
                         [filterTerms]="filterTerms"
                         (onStateUpdated)="onStateUpdated($event)"
                         (onColumnsUpdated)="columnsUpdated($event)">
        </datagrid-header>

        <!-- Body -->
        <div class="datagrid-body-container" id="dataGridBody" #dataGridBody
             [ngStyle]="{'height': gridProps.heightTotal + 'px'}"
             [ngClass]="{ 'widthFixed' : gridProps.widthFixed }"
             (scroll)="onScrollThrottled($event)">
            <datagrid-body [columnsInternal]="columnsExternal"
                           [columnsPinnedLeft]="columnsPinnedLeft"
                           [rowsInternal]="rowsExternal"
                           [state]="state"
                           [status]="status"
                           [options]="options"
                           [gridProps]="gridProps">
            </datagrid-body>
        </div>
    </div>

    <div id="drag-select" *ngIf="options.showDragBox && dragging && options.selectionType && draggingPos.hasMinSize"
         [ngStyle]="{ 'top':draggingPos.top + 'px', 'left': draggingPos.left + 'px', width: draggingPos.width + 'px', height: draggingPos.height + 'px' }"></div>

</div>
